<div class="w3-card-4 w3-mobile" style="width:40%;">
  <header class="w3-container w3-black">
    <br>
  </header>
    <article class="post">
       <div class="w3-container">
      <div class="title">
        <span><a href="/post/{{id}}">{{title}}</a></span><span style="float:right">Posted by {{user.username}} on
          {{format_date created_at}}</span><br>
        <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
      </div>
      <div class="content">
        <p>{{content}}</p>
        </div>
    </article>
  <footer class="w3-container w3-black ">
    <br>
  </footer>
  </div>