<div class="w3-card-4 w3-mobile" style="width:50%;">
  <header class="w3-container w3-black">
    <h2>Post</h2>
  </header>
  <form class="w3-container">
    <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    <p class="card-body">{{content}}</p>
    <div class="form-group">
    </div>
  </form>
  <footer class="w3-container w3-black">
    <br>
  </footer>
</div>